<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledo.market.mapper.DebtMapper">
  <resultMap id="BaseResultMap" type="com.ledo.market.entity.Debt">
    <id column="dnumber" jdbcType="VARCHAR" property="dnumber" />
    <result column="vname" jdbcType="VARCHAR" property="vname" />
    <result column="gid" jdbcType="BIGINT" property="gid" />
    <result column="ddate" jdbcType="DATE" property="ddate" />
    <result column="ddebt" jdbcType="DECIMAL" property="ddebt" />
  </resultMap>
  <select id="delete" resultType="com.ledo.market.entity.Debt">
   delete from debt where dnumber=#{dnumber}
  </select>
  <insert id="insert" parameterType="com.ledo.market.entity.Debt">
    insert into debt (dnumber, vid, vname, 
      gid, gname, ddate, ddebt
      )
    values (#{dnumber,jdbcType=VARCHAR},  #{vname,jdbcType=VARCHAR},
      #{gid,jdbcType=BIGINT},  #{ddate,jdbcType=DATE}, #{ddebt,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ledo.market.entity.Debt">
    update debt
    set
      vname = #{vname,jdbcType=VARCHAR},
      gid = #{gid,jdbcType=BIGINT},
      ddate = #{ddate,jdbcType=DATE},
      ddebt = #{ddebt,jdbcType=DECIMAL}
    where dnumber = #{dnumber,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultType="com.ledo.market.entity.Debt">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat May 02 14:02:10 CST 2020.
    -->
    select dnumber, vname, gid, ddate, ddebt
    from debt
    where dnumber = #{dnumber,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultType="com.ledo.market.entity.Debt">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat May 02 14:02:10 CST 2020.
    -->
    select dnumber, vname, gid, ddate, ddebt
    from debt
  </select>
</mapper>