<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledo.market.mapper.LogMapper">
  <resultMap id="BaseResultMap" type="com.ledo.market.entity.Log">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="level_string" jdbcType="VARCHAR" property="levelString" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="logger_name" jdbcType="VARCHAR" property="loggerName" />
  </resultMap>
<!--  管理员获取所有用户的日志信息-->
  <select id="selectSome" resultMap="BaseResultMap">
    select id, message, level_string, created_time,handler
    from log order by created_time desc limit 10
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, message, level_string, created_time ,handler
    from log order by created_time desc
  </select>

<!--  普通用户获取自己的 用户信息-->
  <select id="getSomeUserLog" resultMap="BaseResultMap" parameterType="java.lang.String">
    select id, message, level_string, created_time,handler
    from log where handler = #{uid} order by created_time desc limit 10
  </select>
  <select id="getAllUserLog" resultMap="BaseResultMap" parameterType="java.lang.String">
    select id, message, level_string, created_time,handler
    from log where handler = #{uid} order by created_time desc
  </select>
</mapper>