<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledo.market.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.ledo.market.entity.Product">
    <result column="gid" jdbcType="BIGINT" property="gid" />
    <result column="gname" jdbcType="VARCHAR" property="gname" />
    <result column="categories" jdbcType="VARCHAR" property="categories" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="charge_unit" jdbcType="VARCHAR" property="charge_unit" />
    <result column="gdate" jdbcType="DATE" property="gdate" />
  </resultMap>
<!--  商品定价的时候新增时候输入商品定价直接返回商品名和chage——unit-->
  <select id="getProductInfoByGid" resultType="com.ledo.market.entity.Product"  parameterType="java.lang.Long">
    select gname,charge_unit from product where gid = #{gid}
  </select>

  <insert id="insert" parameterType="com.ledo.market.entity.Product">
    insert into product (gid, gname, categories,
      address, charge_unit,gdate)
    values (#{gid,jdbcType=BIGINT}, #{gname,jdbcType=VARCHAR}, #{categories,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{chargeUnit},#{gdate,jdbcType=DATE})
  </insert>
  <select id="selectAll" resultType="com.ledo.market.entity.Product">
    select gid, gname, categories,
    address, charge_unit,gdate
    from product
  </select>
  <select id="selectByPrimaryKey" resultType="com.ledo.market.entity.Product">
    select gid, gname, categories,
    address, charge_unit,gdate
    from product
    where gid = #{gid}
  </select>
  <delete id="delete" parameterType="com.ledo.market.entity.ProductPricing">
   delete from product where gid=#{gid}
  </delete>
<!--  通过商品编号获取商品名-->
  <select id="getProductNameByPnumber" resultType="java.lang.String">
   select gname from product where gid  = #{gid}
  </select>
</mapper>