<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledo.market.mapper.ProductReturnMapper">
  <resultMap id="BaseResultMap" type="com.ledo.market.entity.ProductReturn">
    <result column="gid" jdbcType="BIGINT" property="gid" />
    <result column="rdate" jdbcType="DATE" property="rdate" />
    <result column="rreason" jdbcType="VARCHAR" property="rreason" />
    <result column="rcount" jdbcType="INTEGER" property="rcount" />
  </resultMap>
  <insert id="insert" parameterType="com.ledo.market.entity.ProductReturn">
    insert into product_return (gid, rdate, rreason,
      rcount)
    values (#{gid,jdbcType=BIGINT}, #{rdate,jdbcType=DATE}, #{rreason,jdbcType=VARCHAR},
      #{rcount,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultType="com.ledo.market.entity.ProductReturn">
    select gid, rdate, rreason, rcount
    from product_return
</select>

<!--  判断退货单中的商品号是否有出库记录-->
  <select id="ifOutExistsGid" parameterType="java.lang.Long" resultType="java.lang.Long">
    select ifnull((select gid  from stock_out where gid  = #{gid} limit 1 ), 0)
</select>

<!--  查询商品号对应的所有出库数目判断同一商品的退货总数是否已经超过了曾经出库了的总数-->
  <select id="getCounts" resultType="java.lang.Integer" parameterType="java.lang.Long">
    select sum(rcount) from product_return where gid = #{gid}
</select>

  <select id="selectByPrimaryKey" resultType="com.ledo.market.entity.ProductReturn">
      select gid, rdate, rreason, rcount
    from product_return
      where gid = #{gid} GROUP BY gid
    </select>
  <select id="delete" parameterType="com.ledo.market.entity.ProductReturn">
   delete from product_return where gid=#{gid}
  </select>
</mapper>