<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledo.market.mapper.StockInMapper">
  <resultMap id="BaseResultMap" type="com.ledo.market.entity.StockIn">
    <result column="inumber" jdbcType="VARCHAR" property="inumber" />
    <result column="gid" jdbcType="BIGINT" property="gid" />
    <result column="vname" jdbcType="VARCHAR" property="vname" />
    <result column="idate" jdbcType="DATE" property="idate" />
    <result column="iprice" jdbcType="DECIMAL" property="iprice" />
    <result column="ipayment" jdbcType="DECIMAL" property="ipayment" />
    <result column="icount" jdbcType="INTEGER" property="icount" />
  </resultMap>
  <select id="selectAll" resultType="com.ledo.market.entity.StockIn">
      select inumber, gid, vname, idate, iprice, ipayment, icount
      from stock_in
    </select>

  <select id="delete" parameterType="com.ledo.market.entity.StockIn">
   delete from stock_in where inumber=#{inumber}
  </select>

    <insert id="insert" parameterType="com.ledo.market.entity.StockIn">
    insert into stock_in (inumber, gid, vname,
      idate, iprice, ipayment,
      icount)
    values (#{inumber,jdbcType=VARCHAR}, #{gid,jdbcType=BIGINT}, #{vname,jdbcType=VARCHAR},
      #{idate,jdbcType=DATE}, #{iprice,jdbcType=DECIMAL}, #{ipayment,jdbcType=DECIMAL},
      #{icount,jdbcType=INTEGER})
  </insert>

</mapper>